@media only screen and (max-width: 600px  ) {
  .container {
    width: 100%;
    

  }
  
}

.App {
  text-align: center;
}
.Home {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;



}

.form{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
 
}






